.online-users p{ 
  width: 15rem;
  margin-left: auto;
}

main { 
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.public-chat {
  border: 1px solid black;
  margin-left: 15rem;
  width: 40%;
  height: 17rem;
}

.public-chat__title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.public-chat__form { 
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 1rem auto;
}

.public-chat__comments {
  margin-left: 0.5rem;
  height: 10rem;
  overflow-y: auto;
}

.public-chat__comments .bold {
  font-style: italic;
  font-weight: 500;
}

.users { 
  height: 87vh;
  width: 19rem;
  border: 1px solid black;
  margin-right: 1rem;
}
