.message {
 margin-top: 0.5rem;
 display: flex;
}

.message--right {
  margin-left: auto;
  text-align: end;
}

.message__sender {
  font-size: 0.8rem;
  align-self: flex-end;
  margin-left: 0.3rem;
  font-style: italic;
  margin-top: 0.4rem;
}